.product-list-breadcump {
    margin-top: 6rem;
    padding: 37px 7rem;
    width: 100%;
    background-color: #fafafa;
    display: flex;

    a,
    span {
        color: #929292;
        transition: .3s;
    }

    a:hover {
        transition: .3s;
        color: #080808;
    }
}

.product-list-container {
    margin-top: 4rem;
    padding: 0 7rem;
    display: flex;

    .product-list-sidebar {
        display: flex;
        flex-direction: column;
        padding: 1rem 0;
        width: fit-content;
        gap: 67px;
        width: 20%;

        div {
            display: flex;
            flex-direction: column;
            gap: 15px;

            h5 {
                text-transform: uppercase;
                font-size: 14px;
                letter-spacing: .1em;
                color: #080808;
            }

            /* price ranger */

            .range_container {
                display: flex;
                flex-direction: column;
                width: 100%;
            }

            .sliders_control {
                position: relative;
            }

            .form_control {
                position: relative;
                display: flex;
                flex-direction: row;
                font-size: 12px;
                color: #635a5a;
                justify-content: space-between;

                .form_control_container {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 6px;

                    div {
                        font-family: Montserrat, sans-serif;
                    }
                }
            }

            input[type=range] {
                &::-webkit-slider-thumb {
                    appearance: none;
                    pointer-events: all;
                    width: 10px;
                    height: 10px;
                    background-color: #000000;
                    border-radius: 50%;
                    //box-shadow: 0 0 0 1px #C6C6C6;
                    cursor: pointer;
                    // &:hover {
                    //     background: #f7f7f7;
                    // }
                    // &:active {
                    //     box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
                    //     box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
                    // }
                }

                &::-moz-range-thumb {
                    appearance: none;
                    pointer-events: all;
                    width: 10px;
                    height: 10px;
                    background-color: #000000;
                    border-radius: 50%;
                    box-shadow: 0 0 0 1px #C6C6C6;
                    cursor: pointer;
                }
            }

            input[type="number"] {
                color: #8a8383;
                width: fit-content;
                height: fit-content;
                font-size: 12px;
                border: none;
                font-family: Montserrat, sans-serif;
                outline: 0;
            }

            input[type=number] {
                appearance: textfield;

                &::-webkit-inner-spin-button,
                &::-webkit-outer-spin-button {
                    appearance: none;
                    margin: 0;
                }
            }

            input[type="range"] {
                -webkit-appearance: none;
                appearance: none;
                height: 3px;
                width: 100%;
                position: absolute;
                background-color: #C6C6C6;
                pointer-events: none;
            }

            #fromSlider {
                height: 0;
                z-index: 1;
            }


            /* /price ranger */

            ul {
                li {
                    a {
                        color: #929292;
                        font-size: 14px;
                        font-weight: 300;
                    }

                    a.chosen {
                        color: #080808;
                        font-weight: 500;
                    }

                    span {
                        color: #929292;
                    }
                }
            }

        }
    }

    .product-lists {
        width: 75%;
        display: flex;
        padding: 1rem 0;
        height: fit-content;
        flex-direction: column;
        margin-left: 5%;

        .product-list-header {
            z-index: 5;
            height: fit-content;
            flex-direction: row-reverse;
            display: flex;
            width: 100%;
            margin-bottom: 30px;

            select {
                padding: 1rem 1rem;
                border: 1px solid #e1e1e1;
                font-size: 14px;
                color: #929292;
                appearance: none;
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
                background-repeat: no-repeat;
                background-position: right 1rem center;
                background-size: 1em;

                &:focus {
                    border: 1px solid #e1e1e1;
                    font-size: 14px;
                    color: #929292;
                }

                &focusring {
                    border: 1px solid #e1e1e1;
                    font-size: 14px;
                    color: #929292;
                }
            }
        }

        .product-list {
            display: flex;
            flex-wrap: wrap;
            padding: 0 55px;
            .product {
                flex-basis: calc(25% - 10px);
                margin-right: 10px;
                margin-bottom: 20px;
                border: none;
                padding: 0 15px 50px;
                position: relative;
                box-sizing: border-box;
            }
            
            .product-name {
                font-size: 14px;
                text-align: center;
                font-family: Catamaran;
                text-transform: uppercase;
                font-weight: 400;
                letter-spacing: 2px;
                color: #080808;
                padding-top: 20px;
            }
            
            .product-onsale {
                background: transparent;
                position: absolute;
                display: block;
                left: auto;
                width: auto;
                top: 15px;
                color: #080808;
                right: 45px;
                font-family: Montserrat;
                font-weight: 300;
                line-height: 24px;
                letter-spacing: 1px;
                text-align: center;
                font-size: 12px;
                z-index: 100;
            }
            
            .product-new {
                background: transparent;
                position: absolute;
                display: block;
                right: auto;
                width: auto;
                top: 15px;
                color: #080808;
                left: 45px;
                font-family: Montserrat;
                font-weight: 300;
                line-height: 24px;
                letter-spacing: 1px;
                text-align: center;
                font-size: 12px;
                z-index: 100;
            }
            .review-star{
                display: flex;
                justify-content: center;
                color: #EBBC01;
                ion-icon{
                    text-align: center;
                }
            }
            
            .product img {
                max-width: 100%;
            }
            
            .product .price {
                margin-top: 5px;
                border: none;
                font-family: Montserrat;
                font-weight: 100;
                text-align: center;
                color: #999999;
            }
            
            .discount {
                text-decoration: line-through;
            }
            
            .filter {
                text-align: right;
                right: auto;
                right: 20px;
                margin-bottom: 20px;
                font-size: 12px;
                font-family: Catamaran;
                color: #080808;
                text-transform: uppercase;
                vertical-align: middle;
                line-height: 2.2rem;
                letter-spacing: 2px;
                font-weight: 500;
            }
            
            .related-products {
                h2{
                    font-size: 12px;
                    line-height: 16px;
                    text-transform: uppercase;
                    padding-left: 70px;
                    padding-top: 70px;
                    color: #929292;
                    letter-spacing: 4px;
                    font-weight: 400;
                    padding-bottom: 35px;
                }
            
            }
            
            
            .product {
                flex-basis: calc(25% - 10px);
                margin-right: 10px;
                margin-bottom: 20px;
                border: none;
                padding: 0 15px 50px;
                position: relative;
                box-sizing: border-box;
                .img{
                    position: relative;
                }
            
                .addtocart {
                    transform: translateX(-10%);
                    opacity: 0;
                    padding-top: 5px;
                    display: none;
                    animation: animationAddTocart 0.2s linear 0.1s forwards;
                }
                
                .addtocart a {
                    display: flex;
                    justify-content: center;
                    text-decoration: none;
                    color: #999;
                    text-transform: uppercase;
                    font-family: Catamaran;
                    font-size: 12px;
                    letter-spacing: 2px;
                    transition: 0.5s;
                }
            
                .quick-look{
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    display: inline-block;
                    opacity: 0;
                    transition: all .3s;
                    z-index: 1;
                    white-space: nowrap;
                    overflow: hidden;
                    cursor: pointer;
                    .quikc-btn{
                        background-color: #080808;
                        span{
                            font-family: Catamaran;
                            padding: 1px 15px 0;
                            display: inline-block;
                            background-color: #080808;
                            color: #fff;
                            padding: 1px 15px 0;
                            font-size: 10px;
                            font-weight: 700;
                            height: 25px;
                            line-height: 25px;
                            text-transform: uppercase;
                            letter-spacing: .1em;
                        }
                        transform: translateY(100%);
                        transition: all .3s;
                    }
                }
                
                .price {
                    display: block;
                    padding-top: 5px;
                    border: none;
                    font-family: Montserrat;
                    font-weight: 100;
                    text-align: center;
                    color: #999999;
                    transform: translateX(10%);
                    opacity: 0;
                    animation: animationPrice 0.2s linear 0.1s forwards;
                }
                
                
                @keyframes animationAddTocart {
                    from {
                        transform: translateX(-10%);
                        opacity: 0;
                    }
                
                    to {
                        transform: translateX(0);
                        opacity: 1;
                    }
                }
                
                @keyframes animationPrice {
                    from {
                        transform: translateX(10%);
                        opacity: 0;
                    }
                
                    to {
                        transform: translateX(0);
                        opacity: 1;
                    }
                }
                
            
                .addtocart a:hover {
                    color: #080808;
                }
            
            }
            .product:hover >.price{
                display: none;
            }
            .product:hover >.addtocart{
                display: block;
            }
            .product:hover >.img .quick-look{
                opacity: 1;
            }
            .product:hover >.img .quikc-btn{
                transform: translateY(0);
            }
            
            
            
        }
    }

}
.popUp {
    font-family: Catamaran, sans-serif;
    background-color: transparent;
    position: fixed;    
    z-index: 1400;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    .all-screen{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba( 0,0,0,0.8);
        background-color: rgba(8,8,8,.7);
    }
    .product-card {
        position: relative;
        display: flex;
        background: #ffffff;
        width: 1000px;
        height: 505px;
        a{
            text-decoration: none;
            color: #000;
        }
    
        .fa-xmark{
            position: absolute;
            font-size: 22px;
            left: 0;
            margin-left: auto;
            top: 4%;
            left: 96%;
            transition: 0.7s;
        }
        .fa-xmark:hover{
            transform: rotate(180deg);
        }
    
        .prod-image {
            img{
                height: 100%;
            }
        }
    
        .prod-info h1 {
            font-family: catamaran;
            font-size: 24px;
            padding-left: 60px;
            letter-spacing: 4px;
            font-weight: 600;
            padding-top: 20px;
        }
    
        .price {
            font-family: Montserrat;
            font-size: 24px;
            padding-left: 60px;
            font-weight: 100;
            .discount {
                font-size: 16px;
                font-weight: 100;
                padding-right: 10px;
                color: #929292;
                text-decoration: line-through;
            }
        }
    
        .rating {
            padding-top: 20px;
            color: #EBBC01;
            padding-left: 60px;
        }
    
        .description {
            font-size: 16px;
            color: #929292;
            padding-left: 60px;
            padding-right: 45px;
            font-weight: 200;
            padding-bottom: 20px;
        }
    
        .action-buttons {
            display: flex;
            padding-left: 60px;
            width: 80%;
    
            .action-input {
                border: 1px solid #e1e1e1;
                display: flex;
                align-items: center;
                width: 50%;
                span {
                    padding-left: 10px;
                    font-size: 13px;
                    color: #929292;
                }
            }
    
            input {
                width: 100%;
                border: none;
                padding: 13px 16px;
                font-size: 12px;
                color: #929292;
    
            }
    
            input:focus {
                outline: none;
            }
    
            button {
                display: block;
                width: 50%;
                padding: 15px 25px;
                font-size: 12px;
                color: #ffffff;
                letter-spacing: 2px;
                background-color: #000;
                border: none;
                transition: 0.5s;
                cursor: pointer;
            }
    
            button:hover {
                background-color: #313131;
            }
        }
    
        .wishlist {
            padding-left: 60px;
            border: none;
            background-color: transparent;
            padding-top: 40px;
            font-size: 12px;
            font-weight: 100;
            color: #080808;
            letter-spacing: 2px;
            word-spacing: 2px;
    
            .fa-regular {
                font-size: 12px;
            }
    
        }
    
    
    }
    
}